body{
    margin: 0;
    font-family: inter;
    background-color: #F1F0EB;
}

.row{
    padding-top: 20px;
    color:#383838;
}

.column {
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}
  
.left {
    width: 50%;
    padding-right: 250px;
    padding-left: 20px;
}
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
 
.circle{
    display: table-cell;
    height: 450px;
    width: 450px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #F13620;
    color: white;
}

#circleTitle{
    font-size: 40px;
}

.colorDesign{
    background-color: #164F24;
    color: white;
    height: 400px;
    width: 100vw;
    padding-left: 20px;
    padding-top: 10px;
}
#uxHead{
    font-weight: 500;
    font-size: 36px;
}

#designHead{
    font-weight: 500;
    font-size: 36px;
}
#appHead{
    text-align: right;
    font-weight: 500;
    font-size: 36px;
    color: #4056A1;
}

#appDesc{
    text-align: right;
    color: #4056A1;
}

.application{
    padding-right: 20px;
}

.colorcircle{
   float: right;
   padding-top: 20px;
   overflow:hidden
}


/* nav bar */

#navbar {
    overflow: hidden;
    background-color: #F1F0EB;
    border-bottom-style: solid;
    border-bottom-color: #cdccc7;
    border-bottom-width: .2cap;
  }
  
  #navbar a {
    float: right;
    display: block;
    color: #5B5B5B;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: itim;
    font-size:20px;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  

  .sticky + .content {
    padding-top: 60px;
  }

  #navbar #current{
    color: #D79922;
    font-weight: bold;
  }

/*footer */

footer{
    border-top-style: solid;
    border-top-color: #cdccc7;
    border-top-width: 0.1cap;
    text-align: left;
    padding-left: 20px;
    font-family: Itim;
    color:#5B5B5B;
}

/* good examples */

#goodIntro{
    color:#383838;
    font-size: 50px;
}

.leftExample {
    width: 50%;
    padding-right: 150px;
    padding-left: 20px;
}

#goodExamples{
    font-size: 45px;
    color: #4056A1;
    font-family: inter;
    text-align: center;
}

.firstDesc{
    float: right;
    padding-right: 100px;
    color:#383838;
    font-family: inter;
}

#exampleHead {
    font-size: 35px;
    
}

#goodColors{
    float: right;
   padding-top: 20px;
   overflow:hidden;
   padding-right: 50px;
   padding-top: 175px;
}

#liink{
    color: #F13620;
    font-weight: 600;
    font-family: inter;
}

.goodDescription{
    font-family: inter;
}

#exampleOneImage{
    padding-left: 100px;
}

.secondDesc{
    float:left;
    padding-left: 100px;
    color:#383838;
    font-family: inter;
    padding-right: 150px;
}

.secondBadDesc{
    text-align: left;
    padding-left: 100px;
}

.oneDesc{
    float:left;
    padding-left:90px;
}

#oneImg{
    text-align:left;
    padding-right:20px;
    padding-left:100px;
}