body{
    margin: 0;
    font-family: inter;
    background-color: #F1F0EB;
}

.column {
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}
  
.left {
    width: 50%;
    padding-right: 300px;
    padding-left: 20px;
}
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
 
.circle{
    display: table-cell;
    height: 450px;
    width: 450px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #F13620;
    color: white;
}

#circleTitle{
    font-size: 40px;
}

.colorDesign{
    background-color: #164F24;
    color: white;
    height: 400px;
    width: 100vw;
    padding-left: 20px;
    padding-top: 10px;
}
#uxHead{
    font-weight: 500;
    font-size: 36px;
}

#designHead{
    font-weight: 500;
    font-size: 36px;
}
#appHead{
    text-align: right;
    font-weight: 500;
    font-size: 36px;
    color: #4056A1;
}

#appDesc{
    text-align: right;
    color: #4056A1;
}

.application{
    padding-right: 20px;
}